<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/8924ee39-94b7-430c-93ee-942e54cc340f/resourceGroups/AIDungeonMaster/providers/Microsoft.ApiManagement/service/AiDungeonMasterApi2025/apis/AiDungeonMasterApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8924ee39-94b7-430c-93ee-942e54cc340f/resourceGroups/AiDungeonMaster/providers/Microsoft.Web/sites/aidungeonmasterapi</ResourceId>
    <ResourceGroup>AiDungeonMaster</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://aidungeonmasterapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0e6ce4cf-4713-4d59-98f9-e5d22e1d9420</ProjectGuid>
    <PublishUrl>https://aidungeonmasterapi.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>